#grid {
    display:block;
    width:355px;
}

.number {
    width: 27px;
    margin: 4px;
    float: left;
}

.number:nth-child(3n) {
    margin-right:15px;
}


.number > input {
    width: 100%;
    text-align: center;
}



